/* ------ GENERAL LAYOUT AND DESIGN ------ */
html {
  font-family: -apple-system, 'Helvetica Neue', Verdana, Geneva, sans-serif;
  text-align: center;
}

body {
 	max-width: 750px;
	width: auto;
	display: inline-block;
	text-align: left;
	margin: 0;
	margin-top: 10px;
}

section {
  margin: 50px 15px;
}

article {
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

/* header */
header {
	text-align: center;
	margin: 0;
	padding: 0;
}

header h1 {
	font-family: courier;
	font-weight: 200;
	margin: 25px auto 0 auto;
	display: inline-block;
}

header img {
	width:100%;
}

header h1 a {
	color: #000;
	text-decoration: none;
}

pre {
	white-space: pre-wrap;
	border-top: solid 1px #003366;
	border-bottom: solid 1px #003366;
}

code {
	font-family: courier;
	font-size: 1em;
	line-height:1.5em;
}

/* footnotes */
header .fn {
	border: none;
}

header .footnote {
	text-align: left;
	margin-bottom: 14px;
}

header .footnote p {
	margin: 14px 0;
	color: #000000;
	font-size: 0.8em;
}

.cmnt {
	border: none;
	background-color: #ffffff;
	cursor: pointer;
	padding: 0;
	margin: 0;
	color: #CC0033;
	font-size: 1em;
}

.comment {
	display: block;
	height: auto;
	background-color: #f0f0f0;
	padding: 0 17px;
	width: 101%;
	margin-left: -19px;
	opacity: 1;
	border-top-width: 4px;
	border-top-style: double;
	border-bottom-width: 4px;
	border-bottom-style: double;
	border-color: #003366;
	border-left: none;
	border-right: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.placeholder {
	color: #828282;
}

.save {
	border: none;
	background-color: #003366;
	cursor: pointer;
	padding: 5px 10px;
	color: #fff;
	border-radius: 5px;
 	font-size: 0.9em;
	font-family: -apple-system, 'Helvetica Neue', Verdana, Geneva, sans-serif;
}

.save:hover {
	color: #CC0033;
}

nav {
	text-align: center;
	margin-top: 20px;
	margin-left: -30px;
	border-top: solid 1px #CC0033;
	border-bottom: solid 1px #CC0033;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
}

nav a {
	color: #828282;
	font-weight: 300;
	font-style: normal;
	font-size: 0.938em;
	text-decoration: none;
}

#intro {
	border-bottom: solid 1px #003366;
}

#instr {
	border-top: solid 1px #003366;
}

footer {
	text-align: center;
	border-top: solid 1px #CC0033;
	border-bottom: solid 1px #CC0033;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #828282;
	font-weight: 300;
	font-style: normal;
	font-size: 0.938em;
	text-decoration: none;
}

#addCmnt {
	position: fixed;
	top: 50%;
	right: 0;
	margin-right: 10px;
	padding: 5px;
	border: solid 2px #003366;
	background-color: #CC0033;
	color: #ffffff;
	border-radius: 5px;
}

#selStart, #selEnd {
	display: none;
	position: fixed;
	top: 50%;
	right: 0;
	margin-right: 10px;
	padding: 5px;
	border: solid 2px #003366;
	background-color: #CC0033;
	color: #ffffff;
	border-radius: 5px;
}

#createCancel {
	display: none;
	position: fixed;
	top: 50%;
	right: 0;
	margin-right: 10px;
	text-align: right;
}

#create, #cancel {
	padding: 6px 10px;
	background-color: #CC0033;
	color: #ffffff;
	border-radius: 5px;
	font-size: 0.9em;
	font-family: -apple-system, 'Helvetica Neue', Verdana, Geneva, sans-serif;
}

#startFlag {
	color: #CC0033;
	font-size: 1.3em;
	margin-left: 5px;
}

#endFlag {
	color: #CC0033;
	font-size: 1.3em;
	margin-right: 5px;
}

#addCmnt button, #selStart button, #selEnd button {
	color: #ffffff;
	background-color: #CC0033;
	border: none;
	font-size: 0.9em;
	font-family: -apple-system, 'Helvetica Neue', Verdana, Geneva, sans-serif;
}

#create {
	background-color: #CC0033;
	border: solid 2px #003366;
}

#cancel {
	background-color: #003366;
	border: solid 2px #CC0033;
}